@import '../../variables';

.bottomNavigation {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  font: 0.8em 'Lexend Deca';
  background: $translucent-white;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: $shadow-medium;
  .tab {
    cursor: pointer;
    flex-basis: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    &::before {
      content: '';
      background-color: rgba($green, 0.2);
      width: 100px;
      height: 100px;
      position: absolute;
      z-index: -1;
      border-radius: 999px;
      transition: all 0.2s;
      opacity: 0;
      transform: scale(0.6);
    }

    &.scaledRipple::before {
      transform: scale(1);
    }

    &.filledRipple::before {
      opacity: 1;
    }

    .label {
      white-space: nowrap;
    }
    &.selected {
      svg.icon {
        stroke: $green;
      }
      .label {
        color: $green;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .bottomNavigation {
    justify-content: space-around;
    .tab {
      flex-basis: unset;
    }
  }
}
