@import '../../../variables';

.recipeList {
  text-align: center;
  color: $text-light;
}

.recipeCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 24px;
}

.recipeCard {
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(20deg, #5460ff 0%, #beffb1 100%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border-radius: 12px;
  color: white;
  $scrim: 0 -150px 80px -80px rgba(0, 0, 0, 0.3) inset;
  box-shadow: $scrim, $shadow-high;
  transition: transform 0.2s;
  &[data-focus-visible-added] {
    transform: scale(0.9);
  }
  .bookmarkIcon {
    align-self: flex-end;
    background: $translucent-white;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    svg {
      stroke: $text;
    }
    &.bookmarked svg {
      fill: rgba($green, 0.5);
      stroke: $green;
    }
    &[data-focus-visible-added] svg {
      stroke: $green;
      animation: flash-bookmark 0.5s ease-in-out alternate infinite;
    }
  }
  .bottomContent {
    font-family: $sans;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.35));
    h3 {
      margin-bottom: 8px;
    }
    .recipeMetadata {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      & > * {
        display: flex;
        align-items: center;
      }
      .highlighted.star svg {
        color: $yellow;
        fill: rgba($yellow, 0.5);
      }
      svg {
        margin-right: 8px;
      }
    }
  }
}

@keyframes flash-bookmark {
  from {
    fill: transparent;
  }
  to {
    fill: rgba($green, 0.5);
  }
}

.loadMore {
  margin-top: 12px;
  padding: 4px 16px;
  background: rgba($green, 0.2);
  color: $green;
  // box-shadow: $shadow-close;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 999px;
  &:active,
  &[data-focus-visible-added] {
    transition: none;
    background: rgba($green, 0.4);
  }
}

.loadingSpinner {
  display: block;
  margin: 8px auto;
}
