@import '../../../variables';

.recipeList {
  text-align: center;
  color: $text-light;
}

.recipeCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 24px;
}

.recipeCard {
  cursor: pointer;
  background-image: linear-gradient(20deg, #c9cdff 0%, #d6ffd6 100%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border-radius: 12px;
  color: white;
  $scrim: 0 -150px 80px -80px rgba(0, 0, 0, 0.3) inset;
  box-shadow: $scrim, $shadow-high;
  &:focus {
    box-shadow: $scrim, $shadow-highest;
  }
  .bookmarkIcon {
    align-self: flex-end;
    background: $translucent-white;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    svg {
      stroke: $text;
    }
    &.bookmarked svg {
      fill: rgba($green, 0.5);
      stroke: $green;
    }
  }
  .bottomContent {
    font-family: $sans;
    h3 {
      margin-bottom: 8px;
    }
    .recipeMetadata {
      display: flex;
      flex-direction: row;
      align-items: center;
      & > * {
        display: flex;
        align-items: center;
        flex: 1;
      }
      .star {
        svg {
          color: $yellow;
          fill: rgba($yellow, 0.5);
        }
      }
      svg {
        margin-right: 8px;
      }
    }
  }
}
