@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lexend+Deca');
@import '_variables';

body {
  background-color: $background;
  // background-image: url('assets/background-noise.svg');
  color: $text;
  margin: 0;
  font-family: 'Lexend Deca', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background;
}

* {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  user-select: none;
}

button.reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  appearance: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

input.reset {
  font: inherit;
  background: inherit;
  border: none;
  appearance: none;
}
