@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lexend+Deca');
@import '_variables';

body {
  background: $background;
  // background-image: url('assets/background-noise.svg');
  color: $text;
  margin: 0;
  font-family: 'Lexend Deca', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
}

:not(input):not(textarea) {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}

button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  appearance: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

input.reset {
  padding: 0;
  outline: none;
  font: inherit;
  background: inherit;
  border: none;
  appearance: none;
}

input::placeholder {
  color: $text-light;
  opacity: 0.8;
}
input:focus::placeholder {
  // color: $light-gray;
  opacity: 0.5;
}
