@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Poppins&display=swap');

$background: #f7f2d9;
$ginger: #d5b083;

body {
  background-color: $background;
  background-image: url('assets/background-noise.svg');
  margin: 0;
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
}
