@import './variables';

.topBar {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 2;
  height: 48px;
  background: $translucent-white;
  box-shadow: $shadow-medium;
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    padding: 12px;
    margin-right: 12px;
    color: black;
    opacity: 0.8;
    cursor: pointer;
    transition-duration: 0.2s;
    &:active,
    &[touched],
    &[data-focus-visible-added] {
      opacity: 0.4;
      transition-duration: 0s;
    }
  }
}

@-moz-document url-prefix() {
  .button {
    shape-rendering: optimizeSpeed; // fixes weird rendering
  }
}
